.BoardHeader{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 3em;
  background-color: #5c5d60;
  border: .75px solid black;
  height: 3em;
  width: 26.15em;
}

.StartNewGameButton{
  border: 1px solid black;
}
