.Square{
    background-color: #9fa1a5;
    border: 1px solid black;
    height: 2.5em;
    width: 2.5em;
    color: blue;
    text-align: center;
    line-height: 2.5em;
}

.Square:hover {
  background-color: #b9c0cc;
  transition: all 0.2s ease-in-out 0s;
}
