.Square{
    background-color: gray;
    border: 1px solid black;
    height: 2.5em;
    width: 2.5em;
}

.Square:hover {
  /* background-color: #b9c0cc;*/
  cursor: pointer;
  /*transition: all 0.2s ease-in-out 0s; */
}
